<header>
  <h2>Single Control</h2>
</header>
<div>
  <select #fieldType (change)="setFieldType(fieldType.value)">
    <option *ngFor="let type of fieldTypeList" [value]="type">{{type}}</option>
  </select>
</div>
<div>
  <label [for]="control.key">{{control.label}}</label>
  <div>
    <container-element [ngSwitch]="control.type">

      <textarea *ngSwitchCase="fieldTypes.TEXTAREA" [id]="control.key" [formControl]="control"
        class="size-{{control.size}}" [readonly]="control.readonly$ | async"></textarea>

      <select *ngSwitchCase="fieldTypes.SELECT" [formControl]="control">
        <option *ngFor="let option of control.options$ | async" [value]="option" [disabled]="control.readonly$ | async">
          {{option}}</option>
      </select>

      <input *ngSwitchDefault [id]="control.key" [type]="control.type" [formControl]="control"
        class="size-{{control.size}}" [readonly]="control.readonly$ | async"/>

    </container-element>
  </div>
</div>
<div>
  <input type="button" value="Reset value" (click)="reset()"/>
</div>

<p>Current value: {{control.value}} ({{typeOfValue}})</p>
<p>Current type: {{control.type}}</p>
